
<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a href="/">Regreddit.js</a>
      </li>
      <li class="nav-item active">
        <a href="/posts/new" class="btn btn-primary navbar-btn">New Post</a>
      </li>
    </ul>
    
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/logout" class="btn btn-primary navbar-btn">Logout</a></li>
      <li><a href="/login" class="btn btn-primary navbar-btn">Login</a></li>
      <li><a href="/sign-up" class="btn btn-primary navbar-btn">SignUp</a></li>
    </ul>
    
  </div>
</nav>